<div class="container">
    <form class="examle-form" [formGoup]= "loginForm" (ngSubmit)="onFormSubmir(loginForm.value)">
    <h2>please login </h2>
    <mat-form-field class="example-full-width">
   <mat-label>Nickname</mat-label>
   <input matInput placeholder="enter your nickname" formControlname="nickname" [errorStateMatcher]="matcher">
   <mat-error>
       <span *ngIf="!loginForm.get('nickname').valid && loginForm.get('nickname').touched">please enter name</span>
   </mat-error>
    </mat-form-field>
    <div class="button-row">
        <button type="submit" [disabled]="!loginForm.valid" mat-fab color ="primary"><mat-icon>login</mat-icon></button>
        
    </div>
    </form>
</div>
